#mainaccordmenu-open {
  background-image: url('images/hamburger.png');
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: left center;
  margin: 0.75em;
}

#mainaccordmenu-open a {
  margin-left: 1.5em;
  display: block;
}

#mainaccordmenu-open.open {
  background-image: url('images/closebutton.png');
}

#mainaccordmenu {
  overflow: hidden;
  height: 0px;
  width: 100%;
}

#mainaccordmenu.show {
  height: 100%;
}

#mainaccordmenu .parent ul.show {
  height: 100%;
}

/* -Desktop Menu- */

@media only screen and (max-width: 855px) {

  .arrowleft:after {
    content: "";
    background-image: url("images/arrowblack.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: top right;
    transform: rotate(0deg);
    transition: transform .2s linear;
    float: right;
  }

  .arrowdown:after{
    content: "";
    background-image: url("images/arrowblack.png");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-size: contain;
    background-position: right;
    transform: rotate(-90deg);
    transition: transform .2s linear;
    float: right;
  }

}

@media only screen and (min-width: 855px) {

  #section-main-navigation {
    min-height: 2.6em;
  }

  #mainaccordmenu .parent ul li a {
    text-align: left;
    padding: 0.25em;
  }

  #mainaccordmenu .parent a:hover + ul,
  #mainaccordmenu .parent a:focus + ul,
  #mainaccordmenu .parent ul:hover,
  #mainaccordmenu .parent ul:focus,
  #mainaccordmenu .parent ul.show {
    height: 100%;
    max-height: 1500px;
    z-index: 99;
    position: relative;
  }

  #main-navigation .region-navigation #block-accordion-accordion {
    position: absolute;
  }

  #mainaccordmenu {
    max-height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  #mainaccordmenu-open {
    display: none;
  }

  #mainaccordmenu .parent {
    height: 100%;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    font-size: 0.9em;
    line-height: normal;
  }

}


@media only screen and (min-width: 920px) {


  #mainaccordmenu .parent ul li a {
    padding: 0.25em 0.25em 0.5em 0.25em;
  }

  #mainaccordmenu .parent ul {
    min-width: 7em;
    margin: 0;
  }

    /* for menu drawer effect

  #mainaccordmenu .open li ul {
    visibility: visible;
    height: 100%;
  }

  #mainaccordmenu > .parent > ul > li > a {
    line-height: 2em;
  }



  #mainaccordmenu {
    background-color: #003F7F;
  }

  #mainaccordmenu > .parent > ul > li > a {
    background-color: #002D5B;
  }

  #mainaccordmenu {
    text-align: left;
    font-size: 0.9em;
  }
*/

}
